{% extends "templates/web.html" %}

{% block page_content %}
<h1>{{ title }}</h1>

{% if college %}
<h3>College: {{college}}</h3>
{% endif %}

{% if my_skills %}
<h3>Skills</h3>

<ul>
    {% for skills in my_skills %}
    <li>{{skills.skill}}</li>
    {% endfor %}
</ul>
{% endif %}

{% if portfolio %}
<h3> <a href="{{portfolio}}" class="link"> Portfolio </a> </h3>
{% endif %}

{% if linkedin %}
<h3> <a href="{{linkedin}}" class="link"> Linkedin </a> </h3>
{% endif %}

{% if github %}
<h3> <a href="{{github}}" class="link"> GitHub </a> </h3>
{% endif %}

{% endblock %}

<!-- this is a sample default web page template -->