{% if not restriction %}

<div class="web-sidebar">
  
    <div class="sidebar-items">

        {% if frappe.session.user=='Guest' %}
        <ul class="list-unstyled">
            <li class="sidebar-item">
                <a href="/index" class="active">Upcoming Events</a>
            </li> 
            <li class="sidebar-item">
                <a href="/login" class="active">Login</a>
            </li> 
        </ul>
        {% else %}
        <ul class="list-unstyled">
            
            <li class="sidebar-item">
                <a href="/upcoming-events" class="active">Upcoming Events</a>
            </li>
            {% if not frappe.session.user=='Administrator'%}
            <li class="sidebar-item">
                <a href="/my-events" class="active">My Events</a>
            </li>
            <li class="sidebar-item">
                <a href="/learner-profile" class="active">My Profile</a>
            </li>
            {% endif %}
            <!-- <li class="sidebar-item">
                <a href="/learner/{{frappe.session.user}}" class="active">Public Profile</a>
            </li> -->
            
            {% if event_admin %}
            <h6 style="margin: 20px 0 0 0">Event Admin</h6>
            <li class="sidebar-item">
                <a href="/admin-portal" class="active">Admin Portal</a>
            </li>
            {% if not frappe.session.user=='Administrator'%}
            <li class="sidebar-item">
                <a href="/event-creation/new" class="active">Create Event</a>
            </li>
            {% endif %}
            {% endif %}

            {% if frappe.session.user=='Administrator' %}
            <li class="sidebar-item">
                <a href="/tinkerhub-event/new" class="active">Create Event</a>
            </li>
            {% endif %}

        </ul>
        {% endif %}
    </div>
  
</div>

{% endif %}

<script>
    frappe.ready(function () {
        $('.sidebar-item a').each(function (index) {
            const active_class = 'active'
            const non_active_class = ''
            let page_href = window.location.href;
            if (page_href.indexOf('#') !== -1) {
                page_href = page_href.slice(0, page_href.indexOf('#'));
            }
            if (this.href.trim() == page_href) {
                $(this).removeClass(non_active_class).addClass(active_class);
            } else {
                $(this).removeClass(active_class).addClass(non_active_class);
            }
        });

        // scroll the active sidebar item into view
        let active_sidebar_item = $('.sidebar-item a.active');
        if (active_sidebar_item.length > 0) {
            active_sidebar_item.get(0)
                .scrollIntoView({ behavior: "auto", block: "center", inline: "nearest" });
        }
    });
</script>
